* {
    margin: 0px;
    width: 100%;
}
header {
    background-color: #4740ff;
    text-align: center;
    width: 100%;
    
}
.container {
    background-color: #00ffab;
}
.sidebar {
    float: left;
    width: 50%;
}
nav {
    height: 200px;
    background-color: #00ffab;
    float: left;
}
aside {
    background-color: #5597ff;
    height: 400px;
}
main {
    background-color: coral;
    float: left;
    width: 50%;
    height: 400px;
}
footer {
    background-color: lightcoral;
    text-align: center;
    height: 500px;
    
}