*{
    margin : 0px ;
}
.header{
    position : fixed ;
    background-color: aqua;
    width: 100%;
    top: 0px;
    z-index: 1;
    left: 0px;
    height: 100px;
}
.awalan{
    margin-top: 100px;
    background-color: blue;
}
.static{
    position: relative;
    background-color: coral;
    width: 100%;
    left: 30px;
}

.absolute{
    position: absolute;
    background-color: aqua;
    width: 100%;
    left: 30px;
    
}
 .sticky1{
    position: sticky;
    background-color: blueviolet;
    width: 100%;
    left: 30px;
    top: 100px;
 }

 .sticky2{
    position: sticky;
    background-color: hotpink;
    width: 100%;
    left: 30px;
    bottom: 0px;
 }